@import혻'~antd/dist/antd.css'; 



.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }
 
 .header {
  background-color: #021429;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
 }
 
 .logo-container {
  display: flex;
  align-items: center;
  justify-content: center; /* 濡쒓퀬瑜?媛?대뜲??諛곗튂 */
 }
 
 .nav-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end; /* 踰꾪듉???ㅻⅨ履쎌쑝濡?諛곗튂 */
 }
 
 .main-content {
  flex-grow: 1;
  background-color: white;
  padding: 20px;
 }
 
 .footer {
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 /* .logo {
  width: 75px;
  height: 75px;
  object-fit: cover; 
  display: flex;
  align-items: center;
 } */

 .schedule-container {
  width: 200px; /* ?먰븯???덈퉬濡?議곗젙 */
  height: 200px; /* ?먰븯???믪씠濡?議곗젙 */
 }

 .custom-schedule-selector {
  max-width: 50px; /* ?먰븯??媛濡??ш린濡?議곗젅??二쇱꽭??*/
  margin: 0 auto; /* 以묒븰 ?뺣젹???꾪빐 ?ъ슜 */
}

.schedule-selector-wrapper {
  display: flex;
  flex-direction: column;
}

.time-label {
  width: 100px; /* 怨좎젙???덈퉬 ?ㅼ젙 */
  text-align: center;
}

.schedule-selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* 怨좎젙???덈퉬 ?ㅼ젙 */
  gap: 4px 7px;
}

.schedule-selector .rs__cell {
  width: 100px; /* 怨좎젙???덈퉬 ?ㅼ젙 */
  height: 50px; /* 怨좎젙???믪씠 ?ㅼ젙 */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
  background-color: #fafafa;
}

.schedule-selector .rs__cell:hover {
  background-color: #e6f7ff;
}

.schedule-selector .rs__cell--selected {
  background-color: #1890ff;
  color: white;
}


